known_devices.yaml
secrets.yaml
deps/

*.pyc

custom_components/media_player/__pycache__/

tts/
www/tmp/

\.HA_VERSION

*.log

\.uuid

\.storage/

home-assistant_v2\.db

home-assistant_v2\.db-shm

home-assistant_v2\.db-wal
