*
!*.yaml
!scenes
!.gitignore
secrets.yaml
known_devices.yaml
!themes/
!includes/
!includes/*
!configs/
!panels/
!automation/
!automation/*
!customize/
!scripts/
!scripts/*
!docs/*
!docs/
*.bak
entity_registry.yaml