- alias: '[System] - Update Available Notifications'
  id: '1000'
  trigger:
    platform: state
    entity_id: updater.updater
  action:
    service: notify.gmail_smtp
    data:
      message: 'Update for Home Assistant is available.'
      
##
- alias: "[System] - Public IP Has Changed"
  id: '1001'
  trigger:
    platform: state
    entity_id: sensor.ptorrezaoduckdnsorg
  action:
  - service: notify.gmail_smtp
    data_template: 
      message: "IP changed: {{ trigger.from_state.state }} → {{ trigger.to_state.state }}"
      

##
- alias: "[System] - No Body Home"
  id: '1002'
  trigger:
    platform: state
    entity_id: group.card_family
    from: 'home'
    to: 'not_home'
  # condition:  
    # condition: and
    # conditions: 
      # - condition: state
        # entity_id: 'input_boolean.workfromhome_mode'
        # state: 'off'
  action:
  - service: script.turn_on
    entity_id: script.shutdownhome
      

###
- alias: "[System] - Time to Bed"
  id: '1010'
  trigger:
    platform: state
    entity_id: input_boolean.bedtime
    from: 'off'
    to: 'on'
  action:
  -  service: light.turn_off
     entity_id: group.card_lightsoffice
  -  service: media_player.turn_off
     entity_id: media_player.office_tv
###
- alias: "[System] - Reset Time To Bed"
  id: '1011'
  trigger:
   platform: sun
   event: sunrise
   offset: '+00:00:00'
  condition:  
    condition: and
    conditions: 
      - condition: state
        entity_id: input_boolean.bedtime
        state: 'on'
  action:
  - service: input_boolean.turn_off 
    entity_id: input_boolean.bedtime
##
- alias: "[Work] - Check if You Still At Home At 7h30"
  id: '5000'
  trigger:
    - platform: time
      at: '07:30:00'
  condition:  
    condition: and
    conditions: 
      - condition: state
        entity_id: binary_sensor.workday_sensor
        state: 'on'
      - condition: state
        entity_id: 'device_tracker.bq_pedro'
        state: 'home'
      - condition: state
        entity_id: input_boolean.onvacations
        state: 'off'
  action:
  - service: light.turn_on
    data:
       entity_id: light.office_lego_light
       color_name: green
###
- alias: "[Work] - Check if You Still At Home At 7h50"
  id: '5001'
  trigger:
    - platform: time
      at: '07:50:00'
  condition:  
    condition: and
    conditions: 
      - condition: state
        entity_id: binary_sensor.workday_sensor
        state: 'on'
      - condition: state
        entity_id: 'device_tracker.bq_pedro'
        state: 'home'
      - condition: state
        entity_id: input_boolean.onvacations
        state: 'off'
  action:
  - service: light.turn_on
    data:
       entity_id: light.office_lego_light
       color_name: yellow
       
###
- alias: "[Work] - Check if You Still At Home At 8h15"
  id: '5002'
  trigger:
    - platform: time
      at: '08:15:00'
  condition:  
    condition: and
    conditions: 
      - condition: state
        entity_id: binary_sensor.workday_sensor
        state: 'on'
      - condition: state
        entity_id: 'device_tracker.bq_pedro'
        state: 'home'
      - condition: state
        entity_id: input_boolean.onvacations
        state: 'off'
  action:
  # - service: notify.gmail_smtp
    # data: 
     # title: "*Atrasado*"
     # message: "Mexe-te crlh vais chegar atrasado!! ETA para Escritório: {{ states.sensor.eta_pedro.state }}mins"
  - service: light.turn_on
    data:
       entity_id: light.office_lego_light
       color_name: red
##
- alias: "[Lights] - TV Lights (Office)"
  id: '6000'
  trigger:
    platform: state
    entity_id: media_player.office_tv
    from: 'off'
    to: 'on'
  action:
  - service: script.turn_on
    entity_id: scene.PlayingAtOfficeTv
##
- alias: "[Ligts] - Sunset lights - Turn On"
  id: '6001'
  trigger:
    - platform: time
      at: '20:00:00'
  condition:
    condition: state
    entity_id: group.all_devices
    state: home
  action:
    service: light.turn_on
    entity_id: light.living_room_cabinet
##
- alias: "[Ligts] - Sunset lights - Turn Off"
  id: '6002'
  trigger:
    - platform: time
      at: '03:00:00'
  action:
    service: light.turn_off
    entity_id: light.living_room_cabinet
##
- alias: "[Wellcome] -  Bemvindo Pedro"
  id: "7001"
  trigger:
   platform: zone
   entity_id: device_tracker.cpPedro
   zone: zone.home
   event: enter
  action:
  - service: tts.google_say
    entity_id: media_player.escritorioghome
    data:
     message: 'Bemvindo Pedro' 
